* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #000;
}

.grad {
  background: linear-gradient(#5A0062, #9C0574);
  /* background: linear-gradient( rgb(0, 0, 0) 25%, rgb(238, 24, 24)); */
  border-top-color: transparent;
  border-top-style: hidden;
  background-repeat: no-repeat;
  /* height: 100vh;  */
}

.logo {
  height: 35%;
  width: 55%;
  position: absolute;
  top: 35%;
}

.container-flex-row {
	display: flex;
	justify-content: space-between; 
}

.container-flex-column {
  display: flex;
	flex-direction:column;
  justify-content: center;
	padding: 2em;
}

.vh100 {
	height: 100vh;
}		
	
.buttons-register {
	padding: 2em;
}

.btn-success {
  background: linear-gradient(rgb((0), 0, 0) 25%, rgba(193,25,107));
	padding: 0.5em;
	margin-bottom: 3em;
}

.title {
	padding: 0.5em;
	margin-bottom: 1em;
}

.bg-primary {
  background-image: url(../assets/images/fondo-register.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.white {
  border: 1px solid white;
  color: #fff;
  padding: 12px 20px;
  margin-bottom: 25%;
}

/* .signup {
 background: green;
} */