<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <title>Registro exitoso</title>
</head>
<body class="grad">
  <div class="col-xs-12">
    <img src="../assets/images/logo-white.png" alt="Logo blanco">
    <i class="fa fa-check fa-5x"></i>
  </div>
</body>
</html>