<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Verify phone number</title>
</head>
<body>
  <div class="slide-buttons container-flex-row">
    <a href="primary.html" type="button" class="btn btn-success">
      <span><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
    </a>
  </div>

  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/verifyphone.js"></script>
</body>
</html>